@model BC.ServerTeamsBot.Models.ServerLink
@{
    ViewData["Title"] = "Opening...";
}

@*<div style="text-align: center; width: 100%">
    <h2>Opening...</h2>
    <code>@Model.Link</code>
</div>*@
<input id="path" type="hidden" value="@Model.Link" />