@model BC.ServerTeamsBot.Models.ServerLink
@{
    ViewData["Title"] = "Open Link";
}

<div class="jumbotron row">
    <div class="col-sm align-self-center">
        <img src="~/images/logo.jpg" />
    </div>
    <div class="col-sm align-self-center">
        <h5 class="my-3">@Model.From sent you a link!</h5>
        <code>@Model.Link</code>
        <br />
        <a class="btn btn-lg btn-primary mt-3" href="@Model.Link" role="button">Open Link</a>
    </div>
</div>