* {
    font-family: "Franklin Gothic", sans-serif;
}

html, body {
    /* background-color: rgb(67, 82, 90) !important; */
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.jumbotron {
    width: 100%;
    background-color: rgb(239, 239, 237) !important;
}

img {
    min-width: 75px;
    max-width: 300px;
    width: 75%;
    height: auto;
}

.btn-primary {
    background-color: #332985 !important;
    border-color: #332985 !important;
}

code {
    color: rgb(67, 82, 90);
}
